.body {
  background-color: #cce3de;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .header {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .content {
  margin-top: 3vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.main .content .accordion-button {
  background-color: white;
}

.main .content .accordion-body {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .content .accordion-body button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 4vh;
}

.main .content .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
}
