.body {
  background-color: #cce3de;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
}

.main .content {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 96vw;
}

.main .content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main .content .list-group-item {
  display: flex;
  justify-content: space-between;
}
