.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6vh;
  background: rgba(245, 245, 245, 0.7);
}

.footer .left {
  display: flex;
  margin-left: 1vw;
  justify-content: flex-start;
  align-items: center;
}

.footer .right {
  display: flex;
  margin-right: 2vw;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
